#if($error)
<div id="error" title="${error.getTitle()}">
    ${error.getMessage()}
    <script type="application/javascript">
        /*$(function () {
            $("#error").dialog({
                modal: true,
                buttons: {
                    Ok: function() {
                        $( this ).dialog( "close" );
                    }
                }
            })
        });*/
    </script>
</div>
#end