<div class="header">
    <div class="title"><h1>Tiger Tenant</h1></div>
    <div class="user">
        #if($loggedin)
            <h3><span class="ui-icon ui-icon-person "></span><a class="link" href="/user">$currentuser.getFname()</a>
            </h3>
            <hr/>
            <h3><a class="link" href="/user/logout">Logout</a></h3>
        #else
            <h3><a class="link" href="/user/login">Login</a></h3>
            <hr/>
            <h3><a class="link" href="/user/register">Register Account</a></h3>
        #end
    </div>
</div>