<div class="navBarContainer">
    <ul class="navbar">
        <li>
            <a class="link home-link" href="${links.get("INDEX")}">Home</a>
        </li>
        #if($loggedin)
            <li>
                <a class="link listings-new-link" href="${links.get("NEWLISTING")}">New Post</a>
            </li>
        #end

    </ul>
</div>