#macro(mainLayout)
<!DOCTYPE html>
<html>
    <head>
        <title>sublet 356 test</title>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"/>
        <link rel="stylesheet" type="text/css" href="/css/sublet.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script src="/js/sublet.js"></script>
    </head>
    <body>
        #parse("/velocity/fragments/header.vm")
        #parse("/velocity/fragments/navbar.vm")
        #parse("/velocity/fragments/error.vm")
        <div class="content">
        $bodyContent
        </div>
        #parse("/velocity/fragments/footer.vm")
    </body>
</html>
#end