#macro(mainLayout)
<!doctype html>
<html>
    <header>
        <title>sublet 356 test</title>
        <style>
            *{
               padding: 0;
               margin: 0;
             font-family: "Trebuchet MS", Helvetica, sans-serif;
            }
            body{
                background-color: ;

                display: grid;
                grid-auto-columns: 1fr;
                grid-template-rows: 1fr 4fr;
            }
            .header{
                z-index: 1000;
                overflow: hidden;
                position: fixed;
                top: 0;
                left: 0;
                height: 50px;
                width: 100%;

                background-color: rgba(255,255,255,.5);
                display: grid;
                grid-template-columns: 2fr 3fr 1fr 2fr;
                grid-column-align: center;
                padding: 20px;
            }




        </style>
    </header>
    <body>
        <div class="header">
            <h1>Tiger Tenant</h1>
        </div>
        $bodyContent
    </body>
</html>
#end