#parse("velocity/Layout.vm")
#@mainLayout()

<div class="form-container">
    <h3 class="form-title">Create a new Listing</h3>
    <form class="listing-form" action='' method="post">
        <div class="form-group">
            <input class="form-input" placeholder="Address" id="address" name="address" class="form-control" type="text">
        </div>
        <div class="form-group">
            <input class="form-input" placeholder="Rent" id="rent" name="rent" class="form-control" type="text">
        </div>
        <div class="form-group">
            <select class="form-input" name="Gender" id="gender">
                <option value= Listing.MALE>Male Only</option>
                <option value= Listing.FEMALE>Female Only</option>
                <option value= Listing.COED>Any</option>
            </select>
        </div>
        <div class="form-group">
            <input class="form-input" placeholder="Housing Type" id="htype" name="rent" class="form-control" type="text">
        </div>
        <div class="form-group">
            <input class="form-input" placeholder="Furnished?" id="is_furnished" name="rent" class="form-control" type="text">
        </div>
        <div class="form-group">
            <textarea class="form-input text-area" placeholder="Description" id="dis" name="dis" class="form-control" type="text"></textarea>
        </div>
        <button type="submit" name="submit" value="add" class="btn">Submit</button>
    </form>

    <script>
        $('body').find('.link').removeClass('active');
        $('.listings-new-link').addClass('active');
    </script>
</div>

#end