#parse("velocity/Layout.vm")
#@mainLayout()
<div class="listings">
        #foreach($listing in $listings)
            #parse("/velocity/fragments/listing.vm")
        #end

    <script>
        $('body').find('.link').removeClass('active');
        $('.home-link').addClass('active');
    </script>
    </div>
#end